
<h1 class="bg-warning text-center p-4 m-4" style="font-family: Kavoon; font-size:60px;">Fashion House</h1>



<div class="container" >
  <div class="row m-5">

    <div class="col-lg-4" *ngFor="let pro of poduct">
      <div class="card m-4" style="height: 450px;">
        <img class="card-img-top p-3" src="{{pro.image}} "  style="height: 250px;" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">{{pro.title}}</h5>
          <p class="card-text text-center">{{pro.category}}</p>
          <a href="#" class="btn btn-primary">{{pro.price}}</a>
        </div>
      </div>
    </div>



  </div>


</div>










